*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
    --color-white: white;
}


/* setting */
.br{
    border: 3px solid black;
    border-radius: 20px;
}


/* -------------------------hero------------------------ */

#hero{
    height: 100vh;
    background-image: url('../img/tafel.jpg');
    text-align: center;
    color: white;
    border-radius: 0 0 20px 20px;
}

#hero h1{
    padding-top: 15%;
    font-size: 3rem;
}

#hero div{
    font-size: 1.5rem;
}

/* ------------------------------lern möglichkeiten---------------------- */
h3{
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}


.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.grid-item{
    height: 8rem;
    width: 13rem;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 2.5rem;
}

#history{
    background-color: rgb(186, 121, 24);
}

#history:hover{
    background-color: rgb(231, 182, 109);
    cursor: pointer;
}

#web{
    background-color: rgb(179, 97, 255);
}

#web:hover{
    background-color: rgb(210, 162, 255);
    cursor: pointer;
}

#cmd{
    background-color: rgb(162, 162, 162);
}

#cmd:hover{
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

#programmer{
    background-color: firebrick;
}

#programmer:hover{
    background-color: #d65252;
    cursor: pointer;
}

#mathe{
    background-color: green;
}

#mathe:hover{
    background-color: #15be15;
    cursor: pointer;
}

#hardware{
    background-color: darkred;
}

#hardware:hover{
    background-color: rgb(214, 0, 0);
    cursor: pointer;
}

#security{
    background-color: rgb(19, 19, 255);
}

#security:hover{
    background-color: rgb(119, 119, 255);
    cursor: pointer;
}

#project{
    background-color: rgb(184, 184, 0);
}

#project:hover{
    background-color: rgb(248, 248, 4);
    cursor: pointer;
}


/* ----------------------Page2---------------------- */

#page2{
    display: none;
    border: 5px solid lightblue;
    border-radius: 20px;
    margin: 2rem;
}

.card{
    text-align: center;
    border: 5px solid rgb(255, 119, 119);
    margin: 0.5rem;
    min-height: 85vh;
    position: relative;
}

.card h3{
    font-size: 2rem;
}

.card hr{
    margin-bottom: 3rem;
}

.card div{
    font-size: 1.5rem;
}

#question{
    margin-bottom: 5%;
}

.action-btn{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 20px;
    gap: 70%;
}

.action-btn div{
    height: 3rem;
}

#next-btn{
    background-color: greenyellow;
}

#next-btn:hover{
    background-color: rgb(211, 255, 146);
    cursor: pointer;
}

#home-btn{
    background-image: url('../img/tafel.jpg');
    color: var(--color-white);
}

#home-btn:hover{
    cursor: pointer;
}


/* -------------------media queries------------------- */

@media(max-width:1000px){
    .grid-container{
        grid-template-columns: auto auto auto;
    }
}


@media(max-width:740px){
    .grid-container{
        grid-template-columns: auto auto;
    }
}


@media(max-width:480px){
    .grid-container{
        grid-template-columns:auto;
    }
}